@media (max-width: 575.98px) {
    body{
        padding: 0;
        margin: 0;
    }
    .bar{
        width: 200px;
    }
   hr .hr{

        width: 205px;
        margin-left: 110px;
    
    
   }
}