*{
    padding: 0;
    margin: 0;
}
body{
    background: #aaa;
    width: 100%;
}
.profil{
    background-color: #0bf;
   
}

.header-left h5{
    padding-right:100px;
}
form .phone input{
    background-color: #0bf;
    width: 100px;
    border: none; 
    box-sizing: border-box;
}

.phone .call{
    text-align: justify;
    padding-left: 100px;
    box-sizing: border-box;  
}
 .icon i{
    position: absolute;
    left: 60px;
    font-size: 35px;
}
.hr{
    width: 60%;
    margin-left: 110px;
}
.mondiv{
    text-align: justify;
    padding-left: 100px;
    box-sizing: border-box;
    line-height: 5px;
}
.bar{
    width: 80%;
}
.comp {
    width: 92%;
    margin: 30px;
    padding: 10px 50px ;
    box-sizing: border-box;
    background: #fff;

}

 .comp  svg{
     width: 50px;
     height: 50px;
     margin-right: 20px;
     } 
     

.com .callink{
    text-align:center;
}
.callink .lorem{
    padding-left: 85px;
    box-sizing: border-box;
}
.pro{
   
   padding: 30px; 
   word-spacing: 30px;
}
.hr1{
    width: 80%;
    margin-left: 80px;
}
a{
    text-decoration: none;
}